<!-- Topbar Start -->
<div class="navbar-custom">
  <div class="container-fluid">
    <!-- LOGO -->
    <div class="logo-box mx-auto">
      <a routerLink="/" class="logo text-center">
        <span class="logo-lg">
          <img src="assets/images/corona-logo-img.png" alt="" height="30" >  <b class="text">CORONA TRACKER</b>
        
          
        </span>
       
        <span class="logo-sm">
          <img src="assets/images/logo-light.png" alt="" height="40">
        </span>
      </a>
    </div>
  </div>
</div>

  
  