<p>google-map works!</p>
<!-- <div class="col-xl-8">
    <div class="card-box">
      <div class="float-md-right float-right d-md-inline d-none">
        <button type="button" class="btn btn-xs btn-lighten-blue waves-effect waves-light width-xs mr-md-1 mr-0"
          (click)="loadMap('cases');">{{ 'Shared.TopCards.1' | translate }} </button>
        <button type="button" class="btn btn-xs btn-lighten-danger waves-effect waves-light width-xs mr-md-1 mr-0"
          (click)="loadMap('deaths')">{{ 'Shared.TopCards.3' | translate }}</button>
        <button type="button" class="btn btn-xs btn-lighten-success waves-effect waves-light width-xs mr-md-1 mr-0"
          (click)="loadMap('recovered')">{{ 'Shared.TopCards.4' | translate }}</button>
        <button type="button" class="btn btn-xs btn-lighten-warning waves-effect waves-light width-xs"
          (click)="loadMap('critical')">{{ 'Shared.TopCards.5' | translate }}</button>
      </div>
      <h4 class="header-title mt-0 mb-3 mt-md-0">{{ 'Home.WorldMap.1' | translate }} <button type="button" class="btn btn-xs btn-lighten-secondary waves-effect waves-light width-xs mr-md-1 mr-0"
        (click)="showModal();">{{ 'Home.WorldMap.2' | translate }} </button></h4>
      <div class="fa-3x text-center" [class.d-none]="!isLoadingMap">
        <i class="fas fa-circle-notch fa-spin m-2"></i>
      </div>
      <div class="table-responsive" [class.d-none]="isLoadingMap">
        <div id="worldChart" style="width: 100%; height: 400px; overflow: hidden"></div>
      </div>
      <div class="d-md-none d-inline">
        <button type="button"
          class="btn btn-block btn-xs btn-lighten-blue waves-effect waves-light width-xs mr-md-1 mr-0"
          (click)="loadMap('cases');">{{ 'Shared.TopCards.1' | translate }}</button>
        <button type="button"
          class="btn btn-block btn-xs btn-lighten-danger waves-effect waves-light width-xs mr-md-1 mr-0"
          (click)="loadMap('deaths')">{{ 'Shared.TopCards.3' | translate }}</button>
        <button type="button"
          class="btn btn-block btn-xs btn-lighten-success waves-effect waves-light width-xs mr-md-1 mr-0"
          (click)="loadMap('recovered')">{{ 'Shared.TopCards.4' | translate }}</button>
        <button type="button" class="btn btn-block btn-xs btn-lighten-warning waves-effect waves-light width-xs"
          (click)="loadMap('critical')">{{ 'Shared.TopCards.5' | translate }}</button>
      </div>
    </div>
  </div> -->